{% extends "index.html" %}

{% block MainContent %}
<h2>{{ artist.artist }}</h2>

    <table>
    {% for elem in mainList%}
        <tr><th> album: {{ elem.album }} </th></tr>
        <tr>
            <td  width="200">
                {% if elem.album.photo %}
                    <img src="{{ elem.album.photo }}" alt="{{ elem.album.album }}"/>
                {% endif %}
            </td>
            <td>
              <ol>
                {% for song in elem.songList %}
                    <li><a href="{% url main.views.song artist elem.album song %}">{{ song }}</a></li>
                {% endfor %}
              </ol>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}

{% block SecondaryContent %}
    {% if artist.photo %}
        <img src="{{ artist.photo }}" alt="{{ artist.artist }}"/>
    {% endif %}

    {% if artist.information %}
        <h4>About <a href="{% url main.views.artist artist.artist %}">{{ artist.artist }}</a></h4>
        {{ artist.information }}
    {% endif %}
{% endblock %}