{% extends "index.html" %}

{% block MainContent %}
<h2>{{ artist.artist }}</h2>

{#        {% for i in songs %}#}
{#             {{ i.album }}<br>#}
{#            <a href="{% url main.views.song i.artist i.song %}">{{ i.song }}</a></br>#}
{#        {% endfor %}#}
        {% for i in songs%}
            <a href="{% url main.views.song i.artist i.album i.song %}">{{ i.song }}</a> from {{ i.album }}</br>
        {% endfor %}

{% endblock %}

{% block SecondaryContent %}
{{ artist.information }}
{% endblock %}