{% extends "index_wide.html" %}

{% block MainContent %}
    <form action="{% url main.views.contact %}" method="post" class="form-horizontal">
        <fieldset>
            <legend>Contact us</legend>
            {% for field in form %}
                <div class="control-group">
                    {{ field.label_tag }}
                    <div class="controls">{{ field }}</div>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <fieldset>
                <input type="submit" class="btn primary" value="Submit">

    </form>
{% endblock %}

{% block SecondaryContent %}
    assss
{% endblock %}