<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>{{ title }}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {#    <link rel="stylesheet/less" href="/static/css">#}
    {#    <script type="text/javascript" src="/static/js/less-1.2.1.min.js"></script>#}
    <link rel="stylesheet" href="/static/css/extended.css" type="text/css"/>
    <link rel="shortcut icon" href="images/favicon.ico">
    {#    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">#}
    {#    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">#}
    {#    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">#}
</head>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">/<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/add/">Add lyrics</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#mobile">Mobile</a></li>
                            <li class="divider"></li>
                            <li><a href="/">Main page</a></li>
                        </ul>
                    </li>
                    <li><a href="/A">A</a>
                    <li>
                    <li><a href="/B">B</a>
                    <li>
                    <li><a href="/C">C</a>
                    <li>
                    <li><a href="/D">D</a>
                    <li>
                    <li><a href="/E">E</a>
                    <li>
                    <li><a href="/F">F</a>
                    <li>
                    <li><a href="/G">G</a>
                    <li>
                    <li><a href="/H">H</a>
                    <li>
                    <li><a href="/I">I</a>
                    <li>
                    <li><a href="/J">J</a>
                    <li>
                    <li><a href="/K">K</a>
                    <li>
                    <li><a href="/L">L</a>
                    <li>
                    <li><a href="/M">M</a>
                    <li>
                    <li><a href="/N">N</a>
                    <li>
                    <li><a href="/O">O</a>
                    <li>
                    <li><a href="/P">P</a>
                    <li>
                    <li><a href="/Q">Q</a>
                    <li>
                    <li><a href="/R">R</a>
                    <li>
                    <li><a href="/S">S</a>
                    <li>
                    <li><a href="/T">T</a>
                    <li>
                    <li><a href="/U">U</a>
                    <li>
                    <li><a href="/V">V</a>
                    <li>
                    <li><a href="/W">W</a>
                    <li>
                    <li><a href="/X">X</a>
                    <li>
                    <li><a href="/Y">Y</a>
                    <li>
                    <li><a href="/Z">Z</a>
                    <li>
                    <li><a href="{% url main.views.number %}">0-&#8734;</a>
                    <li>
                        <form method="get" action="/search/" class="navbar-search pull-left">
                            <input type="text" name="q" class="search-query" placeholder="Search">
                        </form>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="hero-unit">

        {% block core %}

        {% endblock %}

        <footer>
            <p>&copy; Lyrics {% now "Y" %}</p>
        </footer>

    </div>
    <!-- /container -->
</body>
</html> 	        