{% extends "index.html" %}

{% block MainContent %}
    <h2><a href="{% url main.views.artist artist.artist %}">{{ artist.artist }}</a> - {{ song.song }}</h2>
    <a id="inline" href="#text">Shadow</a>



    <div id="text" class="middle">
        {{ song.lyrics|linebreaksbr }}
    </div>
{% endblock %}

{% block SecondaryContent %}
    {% if artist.photo %}
        <img src="{{ artist.photo }}" alt="{{ artist.artist }}"/>
    {% endif %}

    {% if artist.information %}
        <h4>About <a href="{% url main.views.artist artist.artist %}">{{ artist.artist }}</a></h4>
        {{ artist.information }}
    {% endif %}

    {% if song.album.photo %}
            <img src="{{ song.album.photo }}" alt="{{ song.album.album }}"/>
    {% endif %}

    {% if song.album.information %}
        <h4>About {{ song.album }}</h4>
        {{ song.album.information }}
    {% endif %}

    {% if song.information %}
        <h4>About {{ song.song }}</h4>
        {{ song.information }}
    {% endif %}

    {% if 1 %}
        <h4>Another songs from {{ song.album }}</h4>
{#        {% for i in songs%}#}
{#            <a href="{% url main.views.song i.artist i.album i.song %}">{{ i.song }}</a> from {{ i.album }}</br>#}
{#        {% endfor %}#}
        ggfgfgdgfdgf
        Another songs from
        павыпывапвапывап
        выапваыпвапвап
        Another songs from agagfdg
        dgdsfgdfgdfgd
    {% endif %}

    {% if 1 %}
        <h4>Another songs from {{  artist.artist }}</h4>
{#        {% for i in songs%}#}
{#            <a href="{% url main.views.song i.artist i.album i.song %}">{{ i.song }}</a> from {{ i.album }}</br>#}
{#        {% endfor %}#}
        ggfgfgdgfdgf
        Another songs from
        павыпывапвапывап
        выапваыпвапвап
        Another songs from agagfdg
        dgdsfgdfgdfgd
    {% endif %}

{% endblock %}